<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
  </configSections>
  <appSettings>
    <add key="ServiceControl/Queue" value="particular.servicecontrol"/>
  </appSettings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="ServiceControl.Plugin.Nsb6.SagaAudit.SmokeTest" Endpoint="ServiceControl.Plugin.Nsb6.SagaAudit.SmokeTest"/>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>